@import 'm3-svelte/etc/styles.css';
@import 'm3-svelte/etc/recommended-styles.css';
@function --m3-density(--size) {
	result: var(--size);
}
:root {
	@apply --m3-body-large;
	background-color: var(--m3c-surface);
	color: var(--m3c-on-surface);
	color-scheme: light dark;
	height: 400px;
	width: 450px;

	--svooltip-bg: var(--m3c-surface-container-highest);
	--svooltip-text: var(--m3c-on-surface);
	--svooltip-padding: 4px 8px;
	--svooltip-roundness: 4px;
	--svooltip-weight: 500;
	--svooltip-text-size: 0.75rem;
	--svooltip-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
	--svooltip-index: 1000;
	--svooltip-animation-duration: 0.15s;
}

@layer tokens {
	:root {
		--m3c-surface: light-dark(#f6faf8, #0a0f0e);
		--m3c-surface-container-lowest: light-dark(#fff, #000);
		--m3c-surface-container-low: light-dark(#eef5f2, #0e1513);
		--m3c-surface-container: light-dark(#e7f0ed, #131b1a);
		--m3c-surface-container-high: light-dark(#e1eae7, #192120);
		--m3c-surface-container-highest: light-dark(#dae5e2, #1e2826);
		--m3c-on-surface: light-dark(#2a3433, #dce8e5);
		--m3c-on-surface-variant: light-dark(#56615f, #a2adab);
		--m3c-outline: light-dark(#727d7a, #6d7875);
		--m3c-outline-variant: light-dark(#a9b4b1, #3f4a48);
		--m3c-inverse-surface: light-dark(#0a0f0e, #f6faf8);
		--m3c-inverse-on-surface: light-dark(#999e9c, #515655);
		--m3c-primary: light-dark(#1e6a61, #9cd1c8);
		--m3c-on-primary: light-dark(#e2fff9, #104842);
		--m3c-primary-container: light-dark(#a9f0e4, #275b54);
		--m3c-on-primary-container: light-dark(#065c54, #b8eee4);
		--m3c-inverse-primary: light-dark(#b1f9ed, #346861);
		--m3c-secondary: light-dark(#4b6460, #b1ccc7);
		--m3c-on-secondary: light-dark(#e3fff9, #2c4541);
		--m3c-secondary-container: light-dark(#cce8e3, #27403c);
		--m3c-on-secondary-container: light-dark(#3d5652, #aac5bf);
		--m3c-tertiary: light-dark(#346578, #c9eeff);
		--m3c-on-tertiary: light-dark(#f2faff, #295b6e);
		--m3c-tertiary-container: #b0e1f8;
		--m3c-on-tertiary-container: #1e5265;
		--m3c-error: light-dark(#a83836, #fa746f);
		--m3c-on-error: light-dark(#fff7f6, #490006);
		--m3c-error-container: light-dark(#fa746f, #871f21);
		--m3c-on-error-container: light-dark(#6e0a12, #ff9993);
		--m3c-shadow: #000;
		--m3c-scrim: #000;
		--m3c-on-on-primary: light-dark(#1e6a61, #9cd0c8);
		--m3c-primary-container-subtle: light-dark(#a0e7dc, #00332d);
		--m3c-on-primary-container-subtle: light-dark(#00574f, #81b5ac);
		--m3c-secondary-container-subtle: light-dark(#c4e0da, #17302d);
		--m3c-on-secondary-container-subtle: light-dark(#38514d, #96b1ab);
		--m3c-tertiary-container-subtle: light-dark(#b0e1f8, #00313f);
		--m3c-on-tertiary-container-subtle: light-dark(#1e5265, #82b2c7);
		--m3c-error-container-subtle: light-dark(#ffcfcb, #60000a);
		--m3c-on-error-container-subtle: light-dark(#8f2526, #ff8983);
	}
}

body {
	margin: 0px;
}

.link {
	color: var(--m3c-primary);
	text-decoration: none;
}
